/****************************
    Footer Section
****************************/
.footer {
    background-color: $blue; 
    color: white;
    margin-top: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 300;
}

.spacer {
    position: fixed;
    left: 0;
    bottom: 53px;
    height: 10px;
    width: 25%;
    background-color: white;
    z-index: 300;
}   

.brandList li {
    list-style-type: none;
    display: inline-block;
}

ul.brandList {
    margin: 5px 5px 5px 5px;
    padding: 0;
}

button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 20%;
    font-size: 26px;
}

.brandButton {
    margin-left: 1rem;
    transition: background-color .15s ease-in-out;
    transition: border .15s ease-in-out;
}

.brandButton:hover {
    background-color: dimgray;
    border: dimgray solid 1px;

}

.brandButton:focus {
    outline: none;
}