/****************************
    Footer Section
****************************/
.footer {
    background-color: $blue; 
    color: white;
    margin-top: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 300;
}

footer  p {
    margin-top: 0.8em;
    margin-left: 1.5em;
}

.spacer {
    position: fixed;
    left: 0;
    bottom: 53px;
    height: 10px;
    width: 25%;
    background-color: white;
    z-index: 300;
}

.glyph {
    color: white;
    font-size: 36px;
    margin-top: 4px;
    margin-right: .5rem;
}

.resume {
    padding-right: 1.5rem;
}