/****************************
    Footer Section
****************************/
.footer {
    background-color: $blue; 
    color: white;
    margin-top: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 300;
}

.spacer {
    position: fixed;
    left: 0;
    bottom: 53px;
    height: 10px;
    width: 25%;
    background-color: white;
    z-index: 300;
}   

.brandList li {
    list-style-type: none;
    display: inline-block;
}

ul.brandList {
    margin: 5px 5px 5px 5px;
}

button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 20%;
    font-size: 26px;
}