/****************************
Main Section
****************************/
.main {
    background-color: white;
    color: black;
    margin-top: 56px;
    margin-bottom: 56px;
    margin-left: 20%;
}
    
.mainDiv {
    margin: auto;
    width: 80%;
}

// .homeImage {
//   background-image: url("./assets/family2017.jpg");
// }