/****************************
Main Section
****************************/
.main {
    background-color: white;
    color: black;
    margin-top: 56px;
    margin-bottom: 56px;
    margin-left: 20%;
}
    
.mainDiv {
    margin: auto;
    width: 80%;
}

// .imageScale:hover {
//     transform: scale(5);
//     z-index: 1000;
// }