/****************************
Sidebar Section
****************************/

ul {
    list-style-type: 'none';
}

.sidebar-list-styling{
    margin-top:10px;
    padding-left: 50px;
    padding-top: 15px;
    width: 20%;
    height: 100%;
    background-color: $blue;
    color: white;
    position: fixed;
    left: 0px;

}

.sidebar-list a{
    color: white;
    padding: 0;
}
