/****************** 
Variables  
******************/
/*Portfolio Color pallete*/
/****************************
Body Section
****************************/
body {
  background-color: white;
  font: Belleza; }

/****************************
    Header Section
    ****************************/
.header {
  text-align: center;
  background-color: #282896;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; }

.header a {
  color: white; }

/****************************
Sidebar Section
****************************/
.sidebar {
  display: flex;
  margin-top: 10px; }

ul {
  list-style-type: 'none'; }

.sidebar-list-styling {
  padding-left: 50px;
  padding-top: 15px;
  width: 20%;
  height: 75%;
  background-color: #282896;
  color: white;
  position: fixed;
  left: 0px;
  top: 13%; }

.sidebar-list a {
  color: white;
  padding: 0; }

.sidebar-route {
  flex: 1;
  padding: '00px'; }

/****************************
Main Section
****************************/
.main {
  background-color: white;
  color: black;
  height: 80%;
  margin-top: 56px;
  margin-left: 20%; }

.mainDiv {
  margin: auto;
  width: 80%;
  padding: 5px; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/****************************
    Footer Section
****************************/
footer {
  background-color: #282896;
  color: white;
  margin-top: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; }

footer p {
  margin-top: 0.8em;
  margin-left: 1.5em; }
